#peace_logo {
  color: rgb(238, 0, 91);
}
#ico-bt1,
#ico-bt2,
#ico-bt4,
#ico-bt5 {
  color: rgb(47, 5, 82);
}
#ico-bt3{
  position: relative;
  bottom: 15px ;
  color: rgb(47, 5, 82);
}
#rowbot{
  position: relative;
  top: 30px;
}
#separate{
  position: relative;
  bottom: 9px;
  height: 1px;
  width: 100%;
  background-color: rgb(151, 151, 151);
}
#margin{
  height: 100px;
}

/* from copy */

:root{
  --white: #ffffff;
  --midcolor: #910A67;
  --dark1: #720455;
  --dark2: #3C0753;
  --darkest:#030637; 
}

#indexbody {
  width: 100%;
  height: 100%;
  /* background-image: url("https://www.bhmpics.com/downloads/android-wallpaper-gif/8.r0cwpwi.gif"); */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
/* h1 { */
  /* color: black; */
  /* font-size: 60px; */
/* } */
#mt {
  margin-top: 70px;
}
#spacer {
  height: 50px;
}
#spacer2 {
  height: 100px;
}


#background {
  background-color:white;
  height: auto;
  color: #030637;
}#c {
 color: #030637;
}
#form_login{
  color: black;
}
#login_button{
  background-color: #030637;
  color: aliceblue;
}
/* intro.html */
#indexbody2{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
 /* background-color: rgb(240, 240, 240); */
  /* background-image: url("https://www.bhmpics.com/downloads/android-wallpaper-gif/8.r0cwpwi.gif"); */
  background: linear-gradient(#2b1055, #7597de);
  min-height: 100vh;

}
#spacer3{
  height: 1000px;
}
/* register */
#register_h1{
  color: black;
  font-size: 35px;
}
#cat{
  margin-top: 300px;
}
#userspacer{
  height: 64px;
}

#home_index{
   width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
 /* background-color: rgb(240, 240, 240); */
  background-image: url("https://c4.wallpaperflare.com/wallpaper/707/220/899/gradient-blue-pink-abstract-art-wallpaper-preview.jpg");
}
