#peace_logo {
  color: rgb(253, 0, 97);
}

.style-script-regular {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.just-another hand-regular {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

#h6{
  font-family: "Style Script", cursive;
  font-size: 50px;
}

.raleway-uniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
#tryScroll{
  color: #ffffff;
  font-family:"Style Script", cursive;
  font-size: 40px;
  padding: 5px;
}
#ico-bt1,
#ico-bt2,
#ico-bt4,
#ico-bt5 {
  color:#2b1055;
}
#ico-bt21{
  position: relative;
  bottom: 15px ;
  color: rgb(47, 5, 82);
}
#ico-bt3{
  position: relative;
  bottom: 15px ;
  color: rgb(47, 5, 82);
}
#rowbot{
  position: relative;
  top: 30px;
}
#separate{
  position: relative;
  bottom: 9px;
  height: 1px;
  width: 100%;
  background-color: rgb(151, 151, 151);
}
#margin{
  height: 100px;
}

/* from copy */

:root{
  --white: #ffffff;
  --midcolor: #910A67;
  --dark1: #720455;
  --dark2: #3C0753;
  --darkest:#2b1055; 
  --darkV: #a679eb;
  --midV: #bfadf4;
  --lightV: #e1def6;
}

#indexbody {
  width: 100%;
  height: 100%;
  /* background-image: url("https://www.bhmpics.com/downloads/android-wallpaper-gif/8.r0cwpwi.gif"); */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
#Loginh1 {
  color: #2b1055;
  font-size: 100px;
  font-family:"Style Script", cursive;
}
#mt {
  margin-top: 70px;
}
#spacer {
  height: 50px;
}
#spacer2 {
  height: 100px;
}

#background {
  background-color:white;
  height: auto;
  color: #030637;
}#c {
 color: #2b1055;
}
#form_login{
  color: #2b1055;
}
#login_button{
  background-color: #2b1055;
  color: aliceblue;
}
/* intro.html */
#indexbody2{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
 /* background-color: rgb(240, 240, 240); */
  /* background-image: url("https://www.bhmpics.com/downloads/android-wallpaper-gif/8.r0cwpwi.gif"); */
  background: linear-gradient(#2b1055, #7597de);
  min-height: 100vh;

}
/* #spacer3{ */
  /* height: 1000px; */
/* } */
/* register */
#register_h1{
  color: #2b1055;
  font-family:"Style Script", cursive;
  font-size: 35px;
  font-size: 80px;
}
#cat{
  margin-top: 300px;
}
#userspacer{
  height: 64px;
}

#home_index{
   width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
 /* background-color: rgb(240, 240, 240); */
  background-image: url("../assets/imgs/wallpaper2.jpg");
}

#paper{
  width: 100%;
 height: 100%;
 background-size: cover;
 /* background-attachment: fixed; */
 /* background-position: center; */
 background-repeat: no-repeat;
/* background-color: rgb(240, 240, 240); */
 background-image: url("https://d1csarkz8obe9u.cloudfront.net/posterpreviews/yellow-notebook-paper-background-design-template-d7dfa26f8c8c759652e2521f0ecd24eb_screen.jpg?ts=1636990781");
}

/* start of parralax */
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#backArrow{
  color: #2b1055;
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
  
}
section img#moon
{ 
    mix-blend-mode: screen;
    z-index: 1;

}
section img#mountains_behind
{
  z-index: 9;
}
section img#last
{
  z-index: 2;
}
section img#mountains_front
{
  z-index: 10;
}
section img#firstLayer
{
  z-index: 11;
}

section::before
{
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
    
}

#texth2{
  position: absolute;
  justify-content: center;
  color: #fff;
  white-space: nowrap;
  font-size: 50px;
  z-index: 9;
  font-family: "Raleway", sans-serif;
}
#sec{
  position: relative;
    padding: 20px;
    background: #1c0522;
    color: white;
    
}
#welcome{
  font-family: "Style Script", cursive;
  font-size: 45px;
}
.hiddenAnimate {
  opacity: 0;
  transition: all 1s;
}
.showAnimate{
  opacity: 1;
}
@media(prefers-reduced-motion){
  .hiddenAnimate {
    transition: none;
  }
}

/* Define keyframe animation */
/* In Dynamic Home Cards */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(50px); /* Move from the right */
  }
  to {
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0); /* Move to original position */
  }
}

/* Apply animation to the hiddenAnimate class */
.hiddenAnimate2 {
  opacity: 0; /* Initially hidden */
}

/* Apply animation when the show class is added */
.show2 {
  animation: fadeIn 1s ease-in-out forwards;
}
@media(prefers-reduced-motion){
  .hiddenAnimate2 {
    transition: none;
  }
}

/* new animation33333*/
@keyframes delayedFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Apply animation to the hiddenAnimate2 class */
.hiddenAnimate3 {
  opacity: 0; /* Initially hidden */
}

/* Apply animation when the show class is added */
.show3 {
  animation: delayedFadeIn 1s ease-in-out forwards;
}

@media(prefers-reduced-motion){
  .hiddenAnimate3 {
    transition: none;
  }
}
#set_title{
  font-size: 50px;
  font-family:"Style Script", cursive;
}

#profileName{
  font-family:"Style Script", cursive;
}

#problem_body{
  font-family: "Just Another Hand", cursive;
  font-size: 45px;
  line-height: 0.9;
}
#problem_choices{
  font-family: "Just Another Hand", cursive;
  font-size: 36px;
}
#result{
  font-family: "Just Another Hand", cursive;
  font-size: 70px;
  margin-top: 20px;
}
#rankQuestion{
  font-family: "Just Another Hand", cursive;
  font-size: 40px;
}
#box {
  width: 100vr;
  height: 100vr;
  background-image: url("../assets/imgs/layered-waves-haikei.svg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
 
}

#home_navbar{
  background-image: url("../assets/imgs/layered-waves-haikei.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#home_nav_bot{
  background-image: url("../assets/imgs/Violet.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#login_bg{
  background-image: url("../assets/imgs/login.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#lavender {
  position: relative;
  animation: floatAnimation 3s infinite alternate;
}

@keyframes floatAnimation {
  from {
    bottom: 0;
    transform: rotate(0deg);
    left: 0;
  }
  to {
    bottom: 30px;
    transform: rotate(2deg);
    left: 7px; /* Adjust the value for slight left movement */
  }
}
#lavender_text{
  font-family: "Style Script", cursive;
  position: relative;
  bottom: 50px;
  font-size: 30px;
}
.bi-list {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.bi-list.clicked {
  transform: rotate(90deg);
}
